@keyframes toDoListLodingAnimation {
  from {
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.to-do {
  opacity: 0;
  transform: translateY(30px);
  animation: toDoListLodingAnimation 1s ease-in-out forwards;
  animation-delay: 4.5s;
}

.to-do-list {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.to-do-list:focus-within {
  background-color: rgba(0, 0, 0, 0.7);
  transform: scale(1.1);
}

.to-do-list__input {
  font-size: 20px;
  width: 500px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  border-bottom: 3px solid white;
}

.to-do-list__input::placeholder {
  color: white;
  font-size: 25px;
  font-weight: 200;
}

.to-do-list__btn {
  font-size: 20px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-weight: 200;
  border: none;
  border-bottom: 3px solid white;
}

.to-do-list__li li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  font-weight: 500;
  font-size: 22px;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.to-do-list__li li:hover {
  background-color: rgba(0, 0, 0, 0.7);
  transform: scale(1.1) translateX(25px);
}

.to-do-list__li button {
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 25px;
  font-weight: 600;
  color: rgb(83, 226, 40);
}

@keyframes buttonBeating {
  0% {
    transform: none;
  }
  50% {
    transform: scale(1.2);
    color: red;
  }
  100% {
    transform: none;
  }
}

.to-do-list__li button:hover {
  will-change: transform;
  animation: buttonBeating 1s ease-in-out infinite;
}
